* {
  box-sizing: border-box;
  color: #aaaaaa;
  flex-wrap: wrap;
}

@media (min-width: 760px) {
  .container-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 80%;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-basis: 80%;
    height: 100%;
    font-size: small;
    flex-wrap: wrap;
  }

  .smartbox {
    display: flex;
    margin: auto;
    background-color: #ffffff;
    height: 100%;
    flex-basis: 80%;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
  }

  .form {
    position: relative;
    z-index: 0;
    background: hsl(0, 0%, 100%);
    flex-basis: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin:auto ; */
    max-width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 5px;
    flex-wrap: wrap;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    opacity: 1;
    flex-wrap: wrap;
  }

  .bigbox {
    position: relative;
    z-index: 2;
  }
}

body {
  background-image: url(img/bg01.jpg);
  background-size: auto;
  background-position: 100%;
  background-repeat: no-repeat;
}

.logo {
  flex-basis: 100%;
}

.bio {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
  flex-basis: 100%;
  z-index: 3;
  resize: none;
  overflow: hidden;
  background-color: #ffffff;
  justify-content: center;
}

.biobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.biostyle {
  display: flex;
  flex-direction: row;
}

.icontext {
  font-size: 12px;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  outline: 1px;
  background: #f2f2f2;
  margin: 5px 2px;
  width: 50px;
}

.form .input {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex-basis: 90%;
  background-color: #ffffff;
}
/* dubbel styling */
.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-transform: uppercase;
  outline: 1px;
  flex-basis: 100%;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.form button:hover,
.form button:active {
  background: rgb(107, 107, 107);
}

.form .message {
  margin: 15px 0 0;
  color: #aaaaaa;
  font-size: 16px;
}

.btnhov1:hover,
.btnhov2:hover,
.btnhov3:hover,
.btnhov4:hover,
.btnhov5:hover {
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 20%;
}

.header {
  width: 100%;
  height: 20%;
  text-align: left;
  background: #5b5e5d;
  color: #aaaaaa;
  border-radius: 10px;
}

.logoimg {
  display: flex;
  flex-direction: row;
  height: 0.5%;
  flex-basis: 1.5%;
}

.smallbox {
  display: flex;
  flex-direction: row;
  /*   justify-content:space-around; */
}
.checkboxing {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  justify-items: flex-start;

  margin-left: 10;
  position: static;
}

.sorter1 {
  display: flex;
  flex-direction: row;
  justify-content: left;

  justify-content: space-between;
  margin: 5px;
}

.item1 {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 5px 0;
  flex: 1;
}
.sorter2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-between;
  margin: 5px;
}

.item2 {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 5px 0;
  flex: 1;
}

.botbot {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 20%;
  height: 20%;
}

.chaticon {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  margin: 0;
  height: 90%;
  flex-basis: 70%;
  max-width: 100%;
  cursor: pointer;
  position: relative;
}

.parent {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 20%;
  margin: -20px;
  font-size: 16px;
  justify-content: center;
  position: absolute;
}

.image1 {
  position: relative;
  height: 100%;
  flex-basis: 100%;
}

.icontext {
  display: flex;
  flex-direction: row;
}
.arrowbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5px;
}

.icontext {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0px;
}
.chat .img:hover .chaticon:active {
  background: royalblue;
}

.icontext2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 5px;
  font-size: 12px;

  /* margin-right: 0px;  */
  justify-content: center;
}

.chaticonbox {
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  margin: 0%;
  /*   float: right;
 */
}

.popup {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  z-index: 0;
  margin: 0px;
  text-align: right;
  height: 18vh;
  width: 20vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

.popup:hover {
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 95px; /* Location of the box */
  flex-basis: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.login-form {
  margin: 0;
  justify-content: center;
}

.modal-content {
  width: auto;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 12px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  padding-top: 2px;
  padding-right: 8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
