* {
  box-sizing: border-box;
  color: #aaaaaa;
  margin: 0;
  padding: 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-basis: 50%;
  height: 100%;
  font-size: small;
  flex-wrap: wrap;
}

.smartbox {
  display: flex;
  margin: auto;
  background-color: #ffffff;
  height: 100%;
  flex-basis: 90%;
  margin: 0px;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 100%;
  z-index: 3;
  background: hsl(182, 80%, 57%);
  height: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 5px;
  flex-wrap: wrap;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 1;
  flex-wrap: wrap;
}

.bigbox {
  position: relative;
  z-index: 4;
  flex-basis: 60%;
}

body {
  background-image: url(img/bg01.jpg);
  background-size: auto;
  background-position: 100%;
  background-repeat: no-repeat;
}

.logo {
  flex-basis: 100%;
  height: 50px;
  text-align:start;
  vertical-align: middle;
  display: table-cell;
}

.bio {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 80%;
  width: 100%;
  z-index: 5;
  resize: none;
  overflow: hidden;
  background-color: #ffffff;
  justify-content: center;
  flex-wrap: wrap;
}

.biobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-basis: 20%;
  background-color: rgb(255, 255, 255);
}

.icontext {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  outline: 1px;
  background: #f2f2f2;
  flex-basis: 50px;
}

.form .input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex-basis: 90%;
  background-color: #ffffff;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  outline: 1px;
  flex-basis: 70%;
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255);
}

.form button:hover,
.form button:active {
  background: rgb(107, 107, 107);
}

.form .message {
  margin: 15px 0 0;
  color: #aaaaaa;
  font-size: 16px;
}

.btnhov1:hover,
.btnhov2:hover,
.btnhov3:hover,
.btnhov4:hover,
.btnhov5:hover {
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 20%;
  cursor: pointer;
}

/* Adjust this Ryan :)  */
.header {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: left;
  background: #5b5e5d;
  color: #aaaaaa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5b5e5d;
  
}

.main-container{
  z-index: 1;
  height: 100%;
  width: 80%;
/*   background-color: aqua; */
}

/* .img {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;


} */

.smallbox {
  display: flex;
  flex-direction: row;
  /*   justify-content:space-around; */
}
.checkboxing {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-items:center;
  position: relative;
}

.sorter1 {
  display: flex;
  flex-direction: row;
  justify-content: left;

  justify-content: space-between;
  margin: 5px;
}

.item1 {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 5px 0;
  flex: 1;
  cursor: pointer;
}
.sorter2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: space-between;
  margin: 5px;
}

.item2 {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 5px 0;
  flex: 1;
  cursor: pointer;  
}

.botbot {
  display: flex;
  flex-direction: column;
  background-color: yellow;
/*   width: 20%; */
  height: 20%;
}

.chaticon {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  margin: 0;
  height: 90%;
  flex-basis: 70%;
/*   max-width: 100%; */
  cursor: pointer;
  position: relative;
}

.parent {
  display: flex;
  flex-direction: row;
  height: 30%;
  /* width: 20%; */
  margin: -20px;
  font-size: 16px;
  justify-content: center;
  position: absolute;
}

.image1 {
display: flex;
flex-direction: column;
cursor: pointer;
float: left;
}

.icontext2 {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 5px;
  font-size: 12px;
  float: right;
}

/* Adjust position*/
.arrow {
  height: 30%;
  width: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
/*   align-items: center; */
float:none;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5px;
}


.chat .img:hover .chaticon:active {
  background: royalblue;
}

.chaticonbox {
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  margin: 0%;
  align-items: flex-end;
  /*   float: right;
 */
}

.popup {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin: 0px;
  text-align: right;
  height: 18vh;
  /* width: 20vh; */
  position: absolute;
  bottom: 0;
  right: 0;
}

.popup:hover {
  opacity: 1;
}
.modal-container{
  display: flex;
  flex-direction: column;
}

/* The Modal (background) */
.modal {
  justify-content: 'center';
	align-items: 'center';
  display: none; /* Hidden by default */
  flex-direction: column;
  width: 25%;
  display:inline-block;
  vertical-align:middle;
  margin: auto;
  z-index: 2; /* Sit on top */
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.login-form {
  margin: 0;
  justify-content: center;
}

.modal-content {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  display: flex;
  flex-direction: column;
  color: #aaaaaa;
  float: right; 
  font-size: 24px;
  font-weight: bold;
  padding-top: 2px;
  padding-right: 8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media all and (min-width: 768px),
  (max-height: 768px) {
  .container-2 , 
  .modal-content, 
  .form, 
  .modal, 
  .close,
  .bio, 
  .biobox,
  .smartbox,
  .header{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 100%;
  }
}


@media (orientation: landscape) {
  .title {
    color: green;
  }
}