*{
  box-sizing: border-box;
}

body {
background-image: url(img/bg01.jpg);
background-size:auto;
background-position:100%;
/* align-items: center ; */
background-repeat:no-repeat;
}

.logo{
width: 100%;
}

.form{
position:relative;
z-index: 1;
background: hsl(0, 0%, 100%);
width: 100%;
height: 90%;
display: flex;
flex-direction: column;
margin:auto ;
max-width: 100%;   
border-bottom-left-radius: 12px; 
border-bottom-right-radius: 12px; 
padding: 5px;
}

.bigbox{
  position: relative;
  z-index: 2;
}



.bio{  
display: flex;
flex-direction: column;
height: 5%;
width: 100%;
margin-top: -20px;
z-index: 3;
padding: 5px;
resize: none;
overflow: hidden;
background-color: #ffffff;

}

.biostyle{
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 300px;
}

.icontext{
font-size: 12px;
}

.form input{
  display: flex;
  flex-direction: row;
font-family: "Roboto", sans-serif;
outline: 1px;
background: #f2f2f2;
width: 85%;
margin: 0 0 15px;

}

.form .checkboxing{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  height: 100%;
  width: 100%;
  background-color: #bc78f3;
}

.smartbox .item1{
  left: ;
}

.form button{
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
/* background: #4CAF50; */
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;
}


.form button:hover,.form button:active{
background: rgb(67, 160, 67);
}

.form .message{
margin: 15px 0 0;
color: rgb(3, 3, 3);
font-size: 16px;
}


.icons{
display: flex;
flex-direction: row;
justify-content: space-evenly;
opacity: 1;
}

.btnhov1:hover, .btnhov2:hover, .btnhov3:hover, .btnhov4:hover, .btnhov5:hover {
background-color: #1aca31;
opacity: 0.7;
border-radius: 20%;
  }


.header {
width: 100%;
height: 20%;
text-align: left;
background: #5b5e5d;
color: rgb(0, 0, 0);
border-radius: 10px;
  }


.logo img {
display: flex;
flex-direction: row;
height: 20%;
width: 35%;
margin:4%;
}

.smallbox{
  display: flex;
  flex-direction: row;
/*   justify-content:space-around; */
}

.smartbox{
  display: flex;
  margin: auto;
  /* background-color: hsl(212, 77%, 52%); */
  height: 50%;
  width: 100%;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;

}

/* Fixa här */
.bottom{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width:90%;
  margin: 10px;
  padding: 5px;
  height: 10%;
  font-size: small;

}

.chat{
  width: 100%;
  margin: auto;
  padding: 10px;
  height: 15%;
  display: flex;
  flex-direction: row;
  background-color: #a3aaa4;

}
.fields{
  display: flex;
/*   flex-direction: column; */
  height: 20%;
  width: 100%;
  margin: auto;
  background-color: #f37878;
  margin: 0px;
  margin-top: -15px;
}

.image1{
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 35px;
  justify-content:flex-start;
}

.chaticon{
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin:auto;
  max-width: 100%;
  cursor: pointer;  
  padding-right: 7px;  
  padding-bottom: 7px;  
  position:absolute;
  right: 0%;
}

.parent{
display: flex;
flex-direction: row;
height: 30%;
width: 20%;
margin: -20px;
font-size: 16px;
justify-content: center;  
position: absolute; 

}

.image1{
position: relative;
top: 0;
left: 0;
}

.image2{
position: absolute;
top: 0;
left: 0;
margin: 0.5px;
}

.icontext{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chat .img:hover .chaticon:active{
background: royalblue;
}

.chaticonbox{
  width: 20%;
  height: 7vh;
  display: flex;
  justify-content: end;
}

.popup {
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.9;
z-index: 0;
margin: 0px;
text-align: right ;
height: 18vh;
width: 20vh;
position:absolute;
bottom: 0;
right: 0;
}

.popup:hover{
  opacity: 1;
}

  .rubrik1{
color: white;
}

  .sometext{
color: white;
}

  /* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position:relative; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
/* left: 0;
top: 0; */
width: 25%;
height: 100%;
position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%, -50%);
}

.modal-content{
width: auto;
height: 100%;
margin-bottom: 10px;
border-radius: 12px;
}

/* The Close Button */
.close{
color: #aaaaaa;
float:right;
font-size: 24px;
font-weight: bold;
padding-top: 2px;
padding-right: 8px;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

